.Registrarse_css1 {
    color: #ffffff;
    background: #004581;
    border-radius: 25px;
    text-align:center;
    align-content:center;
}

.label_lista {
    background: #ffffff; 
    color: #004581; 
    width:1100px; 
    margin-left: 200px; 
    border-radius: 25px;
}

