<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\sebas\Source\Repos\Planea_M11\planeaWeb\App_Data\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>